<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <?php include("static/admin/header.php")?>
    <title>新建网站角色 - 网站权限管理 </title>
 </head>
<body>
<article class="page-container">
    <form class="form form-horizontal" action="auth_upload.html" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="hidden" class="input-text" value="{$da.id}" id="id" name="id">
                <input type="text" class="input-text" value="{$da.title}" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限级别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <input type="text" class="input-text" value="{$da.level}" name="level">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>地址名称：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <input type="text" class="input-text" value="{$da.name}"name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$da.remark}" name="remark">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<?php include("static/admin/footer.php")?>
</body>
</html>