<!DOCTYPE html>
<html>
<head>
    {include file="common/seo_header"}
    <title>签到池 - {$seo.title}</title>
</head>
<body>
<div class="wrapper-outer">
    {include file="common/aside"}
    <div class="inner-wrapper">
        <div class="wrapper">
            {include file="common/header"}
            <div class="wrapper-cont">
                <div class="wap">
    <div class="left-p">
        <p class="left-sign"><a href="sign.html">签到池</a></p>
        <p class="left-sign">{$title}排行</p>
    </div>
    <div class="sign-table">
        <table>
            <tbody>
            <tr>
                <th style="width:100px;">排名</th>
                <th style="width:200px;">注资机构</th>
                <th style="width:150px;">注资类别</th>
                <th>注资额</th>
                <th style="width:90px;">注资状态</th>
                <th style="width:200px;">注资时间</th>
            </tr>
            {foreach $numbers as $n}
            <tr>
                <th>{$num++}</th>
                <th>{$n.system_capital_title}</th>
                <th>{switch name="$n.system_capital_static"}
                {case value="1"}直接注资{/case}
                {case value="2"}费用注资{/case}
                {case value="3"}其他注资{/case}
                {/switch}</th>
                <th>{$n.system_capital_data}个硬币</th>
                <th>
                    {switch name="$n.system_capital_wu"}
                    {case value="0"}无效{/case}
                    {case value="1"}有效{/case}
                    {/switch}</th>
                <th>{$n.system_capital_time|date="Y-m-d H:i:s",###}</th>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="paging-wrap" style="display: block;">
    <div class="s-paging">
        {$page}
    </div>
</div>
</div>
            </div>
            {include file="common/footer"}
        </div>
    </div>
</div>
</body>
</html>