<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

<?php include("static/admin/header.php")?>
<title>主副推荐管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 人工管理 <span class="c-gray en">&gt;</span> 主副推荐管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form method="post" action="member_list.html">
		<div class="text-c"> 用户名：
			<input type="text" name="name" class="input-text Wdate" style="width:120px;">
			用户ID：
			<input type="text" name="id" class="input-text Wdate" style="width:120px;">
			用户组：
			<input type="text" name="level" class="input-text" style="width:250px">
			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="submit()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="push_add.html" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加推荐</a></span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" id="controlAll"></th>
				<th width="80">ID</th>
				<th width="100">作品名</th>
				<th width="100">推荐类别</th>
				<th width="40">推荐时间</th>
				<th width="40">剩余天数</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<form method="post" action="push_del.html" id="form">
			{foreach $push as $v}
				<tr class="text-c">
					<td><input type="checkbox" class="ck" value="{$v.push_id}" name="item[]"></td>
					<td>{$v.push_id}</td>
					<td>{$v.title}</td>
					<td>{$v.push_index}</td>
					<td>{$v.push_time|date="Y-m-d",###}</td>
					<td>{$v.push_times|date="d",###}天</td>
					<td class="td-manage">
						<a title="编辑" href="push_edit.html?id={$v.push_id}" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.push_id}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{/foreach}
		</form>
		</tbody>
	</table>
		<div class="paging-wrap" style="display: block;">
			<div class="s-paging">
				{$page}
			</div>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<?php include("static/admin/footer.php")?>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: 'push_del.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>