<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<?php include("static/admin/header.php")?>
<title>修改网站用户意见</title>
</head>
<body>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add" action="admin_develop_update.html" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级id：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="hidden" class="input-text" name="static" value="comment">
			<input type="hidden" class="input-text" name="develop_comment_id" value="{$if.develop_comment_id}">
			<input type="text" class="input-text" name="develop_comment_uid" value="{$if.develop_comment_uid}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户id：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" name="develop_comment_user" value="{$if.develop_comment_user}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" name="develop_comment_title" value="{$if.develop_comment_title}">
		</div>
	</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="develop_comment_text" value="{$if.develop_comment_text}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>支持数：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="develop_comment_support" value="{$if.develop_comment_support}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>处理状态：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="develop_comment_handle" value="{$if.develop_comment_handle}">
			</div>
		</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<?php include("static/admin/footer.php")?>
</body>
</html>