<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<?php include("static/admin/header.php")?>
<title>网站版本公告添加</title>
</head>
<body>
<div class="page-container">
	<form action="admin_develop_form.html" method="post" class="form form-horizontal" id="form-category-add">
		<div id="tab-category" class="HuiTab">
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>切换名：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="hidden" class="input-text" name="static" value="text">
						<input type="text" class="input-text" name="develop_text_title">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" name="develop_text_name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<textarea class="input-text" name="develop_text_text"></textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>等级限制：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" name="develop_text_level">
					</div>
				</div>
			</div>
		</div>
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
<?php include("static/admin/footer.php")?>
</body>
</html>