<!DOCTYPE html>
<html>
<head>
    {include file="common/seo_header"}
    <title>{$form.name}的个人空间 - {$seo.title}</title>
    <link   href="/static/index/css/bootstrap.min.css" rel="stylesheet">
    <style>
            .level-title p{
                font-size: 10px;
            }
    </style>
</head>
<body>
<div class="wrapper-outer">
    {include file="common/aside"}
    <div class="inner-wrapper">
        <div class="wrapper">
            {include file="common/header"}
            <div class="wrapper-cont">
                <div class="security_content">
                <div  class="security-left">
        <span  class="security-title">个人中心</span>
        <ul class="security-ul ser-ul">
            <li  class="security-list on">
               <span  class="security-nav-name">首页</span></li>
            <li  class="security-list">
            <span class="security-nav-name"><a href="/core.html?url=new" >我的信息</a></span></li>
            <li  class="security-list">
                <span class="security-nav-name"><a href="/core.html?url=money" >会员硬币</a></span></li>
            <li class="security-list">
                <span class="security-nav-name"><a href="/core.html?url=face" >我的头像</a></span></li>
            <li class="security-list">
                <span class="security-nav-name"><a href="/core.html?url=site" >账号安全</a></span></li>
        </ul>
        <ul class="security-ul">
            <li  class="security-list-jump">
                <a  href="/users/{$form.id}" class="security-list-link-jump">个人空间</a></li>
            <li  class="security-list-jump">
                <a  href="/create.html" class="security-list-link-jump">创作中心</a></li>
            <li  class="security-list-jump">
                <a  href="/rise_list.html" class="security-list-link-jump">升阶中心</a></li>
            <li  class="security-list-jump">
                <a  href="/droit.html" class="security-list-link-jump">权利中心</a></li>
        </ul>
    </div>
                    <div class="security-right">
            <div  class="security-right-home">
                <div  class="index-info">
                        <div  class="home-head">
                            {if condition="$name.img eq ''"}
                            <img src="/images/head-images/default.jpg" class="face">
                            {else /}
                            <img src="/images/head-images/{$name.img}" class="face">
                            {/if}
                            <a href="/user/{$form.id}" class="gotoSpace">个人空间</a>
                        </div>
                        <div  class="home-right">
                            <div class="home-top-msg">
                                <span  class="home-top-msg-name">
                                    {if condition="$form.nickname eq ''"}
                                            {$form.name}
                                            {else /}
                                            {$form.nickname}
                                            {/if}
                                </span>
                                <span class="home-userstatus">正式会员</span>
                            </div>
                            <div  class="home-top-level">
                                <div class="home-top-ji">{$form.level_class_name}级</div>
                                <a href="/core.html?url=new" class="home-to-update">修改资料</a>
                                <a href="/users/{$form.id}" class="home-to-space">个人空间</a>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="level-title">
                    {$level_text}
                </div>
                <div class="level-text">
                        {if condition="$l_l.level egt 1"}
                        <div class="level-text-p level-text-p2">
                            <div class="level-text-div">粉丝量：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" {$l_l.progress_num}>
                                    {$l_l.progress}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level egt 1"}
                        <div class="level-text-p">
                            <div class="level-text-div">消费量：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100"  {$l_l.just_num}>
                                     {$l_l.just}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level egt 2"}
                        <div class="level-text-p">
                            <div class="level-text-div">导师等级：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" {$l_l.shou_num}>
                                    {$l_l.shou}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level egt 2"}
                        <div class="level-text-p">
                            <div class="level-text-div">导师数：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" {$l_l.assess_num}>
                                    {$l_l.assess}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level egt 3"}
                        <div class="level-text-p">
                            <div class="level-text-div">评论量：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" {$l_l.comment_num}>
                                    {$l_l.comment}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level egt 4"}
                        <div class="level-text-p">
                            <div class="level-text-div">文章量：</div>
                            <div class="level-text-p1 progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                     aria-valuemin="0" aria-valuemax="100" {$l_l.support_num}>
                                     {$l_l.support}
                                </div>
                            </div>
                        </div>
                        {/if}
                        {if condition="$l_l.level_up eq 1"}
                        <div class="level-text-p">已满足条件</div>
                        <div class="level-text-button">
                            {if condition="$l_l.level eq 0"}
                            <button class="level-button" onclick="member_level(this)">开启成长之路</button>
                            {else /}
                            {if condition="$l_l.level_power eq 1"}
                            <button class="level-button" onclick="member_level_up(this);">开启成长之路</button>
                            {else /}
                            <div class="level-text-p">未获取升阶权限</div>
                            <div class="level-text-button">
                                {if condition="$l_l.level_rise eq 1"}
                                <div class="level-text-p"><a href="/rise_list.html">查看进度</a></div>
                                {else /}
                                <button class="level-button" onclick="member_level_rise(this)">获取升阶权限</button>
                                {/if}
                            </div>
                            {/if}
                            {/if}
                        </div>
                        {else /}
                        <div class="level-text-p">未满足条件</div>
                        <div class="level-text-button">
                            <button class="level-button">无法开启成长</button>
                        </div>
                        {/if}
                </div>
        </div>
                </div>
            </div>
            {include file="common/footer"}
        </div>
    </div>
</div>
</body>
</html>