<div class="footer">
    <div class="footer-r">
        <div class="links">
            <a href="/index.html" target="_blank">{$web.site}</a>&nbsp;|&nbsp;
            <a href="/help.html" target="_blank">帮助</a>&nbsp;|&nbsp;<a
                href="/develop.html" target="_blank">意见反馈</a>&nbsp;|&nbsp;<a
                href="/article.html" target="_blank">关于{$web.site}</a>&nbsp;|&nbsp;<a
                href="#">官方交流群：qq群673032772</a>
        </div>
        <p class="copyright">©&nbsp;2017&nbsp;{$web.site}&nbsp;</p>
        {$web.statcode}
    </div>
</div>
<script type="text/javascript" src="/static/index/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/index/js/common.js"></script>