<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

<?php include("static/admin/header.php")?>
<title>修改新番作品 - 新番管理</title>
</head>
<body>
<article class="page-container" style="padding: 0 0 10px 0;">
	<nav class="breadcrumb" ><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 新番汇总 <span class="c-gray en">&gt;</span> 修改新番作品 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<form action="update_love_video.html" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新番作品名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="hidden" class="input-text" value="{$form.total_video_id}" name="total_video_id">
				<input type="text" class="input-text" name="total_video_name" value="{$form.total_video_name}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新番月份：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="total_video_month" class="select">
						<option value="0">全部月份</option>
						{foreach $month as $m}
						<option value="{$m.total_month_id}">{$m.total_month_name}</option>
						{/foreach}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新番星期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<span class="select-box">
					<select name="total_video_week" class="select">
						<option value="0">全部星期</option>
						{foreach $week as $w}
						<option value="{$w.total_week_id}">{$w.total_week_name}</option>
						{/foreach}
					</select>
				</span>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新番作品连接地址：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="total_video_url" value="{$form.total_video_url}">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>封面：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<dd style="height: 350px;width: 645px;" id="head-text">
					<div id="uploader" class="wu-example" onclick="head_image();" style="display: none;">
						点击选择封面
					</div>
					<div id="head-image" class="head-image">
						<img src="{$form.total_video_image}">
					</div>
					<input id="head-name" name="total_video_image" value="{$form.total_video_image}" type="hidden">
					<div id="xiu-image" class="wu-example xiu-image" onclick="head_image();">修改封面</div>
				</dd>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新番作品主站：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" name="total_video_manga_id" value="{$form.total_video_manga_id}">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</article>
<?php include("static/admin/footer.php")?>
</body>
</html>