<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<?php include("static/admin/header.php")?>
<title>资讯分类列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 分类管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		日期范围：
		<input type="text" onfocus="" id="logmin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="" id="logmax" class="input-text Wdate" style="width:120px;">
		<input type="text"   placeholder=" 资讯名称" style="width:250px" class="input-text">
		<button  class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜分类</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="submit()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" href="type_add.html"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" id="controlAll" ></th>
					<th width="200">ID</th>
					<th width="200">分类名称</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
			<form method="post" action="type_del.html" id="form">
			{foreach $data as $v}
				<tr class="text-c">
					<td><input class="ck" type="checkbox" value="{$v.id}" name="item[]"></td>
					<td>{$v.id}</td>
					<td>{$v.name}</td>
					<td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" href="type_updata.html?id={$v.id}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'{$v.id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
			{/foreach}
			</form>
			</tbody>
		</table>
		<div class="paging-wrap" style="display: block;">
			<div class="s-paging">
				{$page}
			</div>
		</div>
	</div>
</div>
<?php include("static/admin/footer.php")?>
<script type="text/javascript">
/*资讯-删除*/
function article_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'post',
			url: 'type_del.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>