<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

<?php include("static/admin/header.php")?>
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form method="post" action="member_list.html">
		<div class="text-c"> 用户名：
			<input type="text" name="name" class="input-text Wdate" style="width:120px;">
			用户ID：
			<input type="text" name="id" class="input-text Wdate" style="width:120px;">
			用户组：
			<input type="text" name="level" class="input-text" style="width:250px">
			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="submit()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="member_add.html" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a></span> <span class="r">共有数据：<strong>{$number}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" id="controlAll"></th>
				<th width="80">ID</th>
				<th width="100">用户名</th>
				<th width="100">等级</th>
				<th width="40">性别</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th width="150">邮箱激活状态</th>
				<th width="120">加入时间</th>
				<th width="70">状态</th>
				<th>详情</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<form method="post" action="member_del_del.html" id="form">
			{foreach $data as $v}
				<tr class="text-c">
					<td><input type="checkbox" class="ck" value="{$v.id}" name="item[]"></td>
					<td>{$v.id}</td>
					<td>{$v.name}</td>
					<td>{$v.level}</td>
					<td>{switch name="$v.sex"}
						{case value="1"}男{/case}
						{case value="2"}女{/case}
						{case value="3"}保密{/case}
						{/switch}</td>
					<td>{$v.phone}</td>
					<td>{$v.email}</td>
					<td class="text-l">{switch name="$v.activation"}
						{case value="0"}未激活{/case}
						{case value="1"}激活{/case}
						{/switch}</td>
					<td>{$v.time|date="Y-m-d H-i-s",###}</td>
					<td>
						<a style="text-decoration:none" onClick="member_show('用户详情','member_show','{$v.id}','800px','600px')" href="javascript:;" title="详情">
							<i class="Hui-iconfont">&#xe695;</i>
						</a>
					</td>
					<td class="td-status">
						{switch name="$v.status"}
						{case value="0"}<span class="label label-defaunt radius">已停用</span>{/case}
						{case value="1"}<span class="label label-success radius">已启用</span>{/case}
						{/switch}
					</td>
					<td class="td-manage">
						{switch name="$v.status"}
						{case value="0"}<a style="text-decoration:none" onclick="member_start(this,'{$v.id}')" href="javascript:;" title="启用">
						<i class="Hui-iconfont">&#xe6e1;</i>
					</a>{/case}
						{case value="1"}<a style="text-decoration:none" onClick="member_stop(this,'{$v.id}')" href="javascript:;" title="停用">
						<i class="Hui-iconfont">&#xe631;</i>
					</a>{/case}
						{/switch}
						<a title="编辑" href="member_updata.html?id={$v.id}" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>
						<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{/foreach}
		</form>
		</tbody>
	</table>
		<div class="paging-wrap" style="display: block;">
			<div class="s-paging">
				{$page}
			</div>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<?php include("static/admin/footer.php")?>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
/*用户-停用*/
var uid=0;
function member_stop(obj,id){
	uid=id;
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'member_static.html',
			dataType: 'json',
			data:{id:id,status:0},
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,uid)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
				$(obj).remove();
				layer.msg('已停用!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*用户-启用*/
function member_start(obj,id){
	uid=id;
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'member_static.html',
			dataType: 'json',
			data:{id:id,status:1},
			success: function(data){
				$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,uid)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
				$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
				$(obj).remove();
				layer.msg('已启用!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: 'member_del_del.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}



	function member_show(title,url,id,w,h){
		layer.open({
			type: 2,
			title: title,
			shadeClose: true, //点击遮罩关闭层
			area : [w , h],
			content: url+'.html?id='+id
		});
	}

</script> 
</body>
</html>