<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

<?php include("static/admin/header.php")?>
<title>举报管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 举报中心 <span class="c-gray en">&gt;</span> 举报管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="submit()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <span class="r">共有数据：<strong>{$number}</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox"></th>
				<th width="80">ID</th>
				<th width="100">举报人</th>
				<th width="100">举报类型</th>
				<th width="40">举报作品</th>
				<th width="90">举报作品下的集数</th>
				<th width="130">举报理由</th>
				<th width="70">举报状态</th>
				<th width="70">举报时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		<form method="post" action="report_del.html" id="form">
			{foreach $data as $v}
				<tr class="text-c">
					<td><input type="checkbox" class="ck" value="{$v.id}" name="item[]"></td>
					<td>{$v.id}</td>
					<td>{$v.user_id}</td>
					<td>{$v.report_class}</td>
					<td>{$v.report_video}</td>
					<td>{$v.report_video_collect}</td>
					<td>{$v.report_reason}</td>
					<td class="td-status">
						{switch name="$v.report_static"}
						{case value="0"}<span class="label label-defaunt radius">待审核</span>{/case}
						{/switch}
					</td>
					<td>{$v.report_time|date="Y-m-d H-i-s",###}</td>
					<td class="td-manage">
						{switch name="$v.report_static"}
						{case value="0"}<a style="text-decoration:none" onclick="member_stop(this,'{$v.id}')" href="javascript:;" title="和谐">
						<i class="Hui-iconfont">&#xe6e1;</i>
					</a>{/case}
						{/switch}
						<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			{/foreach}
		</form>
		</tbody>
	</table>
		<div class="paging-wrap" style="display: block;">
			<div class="s-paging">
				{$page}
			</div>
		</div>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<?php include("static/admin/footer.php")?>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
/*用户-停用*/
function member_stop(obj,id){
	layer.confirm('确认要和谐吗？',function(index){
		$.ajax({
			type: 'post',
			url: 'report_static.html',
			dataType: 'json',
			data:{id:id,static:1},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已和谐!',{icon: 5,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: 'report_del.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>