<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<?php include("static/admin/header.php")?>
<title>评论列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 评论列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
		<input type="text" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" id="datemax" class="input-text Wdate" style="width:120px;">
		<input type="text" class="input-text" style="width:250px" placeholder="输入关键词" >
		<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜评论</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="submit()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" ></th>
					<th width="60">ID</th>
					<th width="60">用户名</th>
					<th width="60">作品名</th>
					<th width="60">评论类型</th>
					<th width="60">评论时间</th>
					<th width="60">评论回复主</th>
					<th>评论内容</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			<form method="post" action="comment_recovery_del.html" id="form">
			{foreach $data as $v}
				<tr class="text-c">
					<td><input type="checkbox" class="ck" value="{$v.id}" name="item[]"></td>
					<td>{$v.id}</td>
					<td>{$v.uid}</td>
					<td>{$v.video_id}</td>
					<td>{$v.news_classify}</td>
					<td>{$v.news_time|date="Y-m-d H-i-s",###}</td>
					<td>{$v.news_user}</td>
					<td>{$v.news_text}</td>
					<td class="td-manage">
						<a style="text-decoration:none" onclick="member_start(this,'{$v.id}')" href="javascript:;" title="还原"><i class="Hui-iconfont">&#xe6e1;</i></a>
						<a title="删除" href="javascript:;" onclick="member_del(this,'{$v.id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				    </td>
				</tr>
			{/foreach}
			</form>
			</tbody>
		</table>
		<div class="paging-wrap" style="display: block;">
			<div class="s-paging">
				{$page}
			</div>
		</div>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
<?php include("static/admin/footer.php")?>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

/*评论-还原*/
function member_start(obj,id){
	layer.confirm('确认要展示吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'comment_recovery_insert.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				layer.msg('已还原!',{icon: 6,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
	});
	});
}

/*评论-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: 'comment_recovery_del.html',
			dataType: 'json',
			data:{id:id},
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>