<!DOCTYPE html>
<html>
<head>
    {include file="common/seo_header"}
    <title>次元 - {$seo.title}</title>
</head>
<body>
<div class="wrapper-outer">
    {include file="common/aside"}
    <div class="inner-wrapper">
        <div class="wrapper">
            {include file="common/header"}
            <div class="register-index">
            <div class="register">
                <form action="password_form.html" style="min-height: 910px" method="post" enctype="multipart/form-data">
                    <div class="register-page">
                    <input type="hidden" value="{$id}" name="id" id="id">
                        <header class="page-header">
                            <h1 class="page-title">找回密码</h1>
                        </header>
                        <p>
                            <label>新密码<span class="register-user-tips tips1"></span>
                                <input type="password" name="password" id="password" class="input" size="20"></label>
                        </p>
                        <p>
                            <label>确定密码<span class="register-user-tips tips2"></span>
                                <input type="password" name="passwords" id="regPassword" class="input" size="20"></label>
                        </p>
                        <input type="submit" value="修改" class="register-btn">
                    </div>
                </form>
            </div>
            </div>
            {include file="common/footer"}
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    //密码前期验证
    $("#password").bind('blur', function(){
        var password = $(this).val();
        var msg      = '';
        var flag     = false;
        if ('' == password){
            msg = '请填写密码';
        }else{
            var strlen = password.length;
            if (strlen < 6 || strlen > 16){
                msg = '6-16位字符，可随意组合';
            }else{
                var re = /^[0-9,]*$/;
                if (re.test(password)){
                    msg = "密码不能全是数字";
                }else{
                    flag     = true;
                }
            }
        }
        registerTipsMsg($(".tips1"), flag, msg);
        return false;
    });
    //密码再确定
    $("#regPassword").bind('blur', function(){
        var password    = $("#password").val();
        var regPassword = $(this).val();
        var msg         = '';
        var flag        = false;
        if ('' == regPassword){
            msg = '请填写确认密码';
        }else{
            if (password != regPassword){
                msg = '两次填写的密码不一致';
            }else{
                var strlen = regPassword.length;
                if (strlen < 6 || strlen > 16){
                    msg = '6-16位字符，可随意组合';
                }else{
                    var re = /^[0-9,]*$/;
                    if (re.test(regPassword)){
                        msg = "密码不能全是数字";
                    }else{
                        flag     = true;
                    }
                }
            }
        }
        registerTipsMsg($(".tips2"), flag, msg);
        return false;
    });

    var registerTipsMsg = function(obj, flag, msg){
        if (flag){
            obj.html('').show();
        }else{
            obj.html(msg).show();
        }
    };
</script>
</html>